/* 제목(header) 가운데 정렬 */
#header_title {
    text-align: center;
    font-size: 28px;
    margin: 25px 0;
}

nav {
    width: 100%;                /* 전체 화면 너비 */
    background-color: #ffffffb9;     /* 배경색 (원하는 색상으로 변경 가능) */
    padding: 10px 40px;         /* 상하 15px, 좌우 40px -> 높이 넓어짐 */
    box-sizing: border-box;     /* padding 포함 높이 계산 */
}


nav ul {
    display: flex;
    justify-content: flex-end;  /* 메뉴를 항상 오른쪽 정렬 */
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 40px;          /* 메뉴 간격 넓힘 */
    font-weight: bold;
    font-size: 18px;             /* 글자 크기 적당히 키움 */
}


nav ul li a {
    text-decoration: none;
    color: #000000b9;
    font-size: 18px;
}

.user-info {
    font-size: 18px;
    display: flex;
    align-items: center;
}
