<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ room.name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" href="data:,">
</head>
<body>
    <header>
        <h2 id="header_title">🌟 {{ room.name }} 설정🌟</h2>
    </header>
    <hr>
    <nav>
        <ul>
            <li><a href="{% url 'board:room_detail' room.slug %}">방으로 이동</a></li>
            <li><a href="{% url 'board:leave_room' room.slug %}" onclick="return confirm('정말 방을 나가겠습니까?');">나가기</a></li>
            {% if user.is_authenticated %}
                <li class="user-info"><a href="{% url 'user:mypage' %}">{{ user.username }}님</a></li>
                <li><a href="{% url 'user:logout' %}">로그아웃</a></li>
            {% else %}
                <li><a href="{% url 'user:login_page' %}">로그인</a></li>
            {% endif %}
        </ul>
    </nav>
    <hr>
    <p>방 설정 창에 오신 것을 환영합니다!</p>
</body>
</html>